# =====================
# Training outputs
# =====================
output/
outputs/
checkpoints/
runs/

# =====================
# wandb
# =====================
wandb/
wandb/**

# =====================
# PyTorch
# =====================
*.pt
*.pth
*.ckpt

# =====================
# Python cache
# =====================
__pycache__/
*.pyc

# =====================
# OS / Editor
# =====================
.DS_Store
.vscode/
.idea/
